<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thanhan.WScan">
    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- File read permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@drawable/barcode"
        android:label="WScan - Scan to Web"
        android:roundIcon="@drawable/barcode"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidShield">
        <activity
            android:name="com.thanhan.WScan.DisplayLink"
            android:exported="false" />
        <activity
            android:name="com.thanhan.WScan.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thanhan.WScan.UserInfo"
            android:exported="false" />
        <activity
            android:name="com.thanhan.WScan.ScanCode"
            android:exported="false" />
        <activity
            android:name="com.thanhan.WScan.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>